{
    "presets": [
        [
            "env", {
                "targets": {
                    "node": "current"
                },
                "teste": {
                    "teste": [
                        "jest"
                    ]
                }
            }
        ]
    ]
}